@model IEnumerable<Online_Shopping_Management.Models.Category>

@{
    ViewBag.Title = "Online Shopping: Buy your product";
}

<h2>Index</h2>

<p>
    Select from @Model.Count() categories:
</p>

<ul>
    @foreach (var categories in Model)
    {
        <li>@Html.ActionLink(categories.Name, "Browse", new { categories = categories.Name })</li>
    }
</ul>