@model Online_Shopping_Management.Models.Image

@{
    ViewBag.Title = "Create";
}

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $.getJSON("/Image/Categories/List/", function (data) {
                var items = "<option> Show Category List </option>";
                $.each(data, function (i, categories) {
                    items += "<option value='" + categories.Value + "'>" + categories.Text + "</option>";
                });
                $("#CategoryId").html(items);
            });

            $("#CategoryId").change(function () {
                $.getJSON("/Image/SubCategories/List/" + $("#CategoryId > option:selected").attr("value"), function (data) {
                    var items = "<option> Show SubCategory List </option>";
                    $.each(data, function (i, subcategory) {
                        items += "<option value='" + subcategory.Value + "'>" + subcategory.Text + "</option>";
                    });
                    $("#SubCategoryId").html(items);
                });
            });

            $("#SubCategoryId").change(function () {
                $.getJSON("/Image/Models/List/" + $("#SubCategoryId > option:selected").attr("value"), function (data) {
                    var items = "<option> Show Models List </option>";
                    $.each(data, function (i, model) {
                        items += "<option value='" + model.Value + "'>" + model.Text + "</option>";
                    });
                    $("#ModelId").html(items);
                });
            });
            
            $("#ModelId").change(function () {
                $.getJSON("/Image/Products/List/" + $("#ModelId > option:selected").attr("value"), function (data) {
                    var items = "<option> Show Products List </option>";
                    $.each(data, function (i, product) {
                        items += "<option value='" + product.Value + "'>" + product.Text + "</option>";
                    });
                    $("#ProductId").html(items);
                });
            });
        });
    </script>
}

<h2>Create</h2>

@using (Html.BeginForm("Upload", "Image", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Image</legend>
        
        <div>
            Select a file: <input type="file" name="fileUpload" />

            <input type="submit" value="Upload" />

        </div>

        <label for="CategoryId">Categories</label>
        <select id="CategoryId" name="CategoryId"></select>
        <br /><br />
        <label for="SubCategoryId">SubCategories</label>
        <select id="SubCategoryId" name="SubCategoryId"></select>
        <br /><br />
        <label for="ModelId">Model</label>
        <select id="ModelId" name="ModelId"></select>
        <br /><br />
        <label for="ProductId">Product</label>
        <select id="ProductId" name="ProductId"></select>
        <br/><br/>


        

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>